/target
.settings
.idea
.classpath
.project
.springBeans
/src/main/resources/application-development.properties
/catalina.home_IS_UNDEFINED
spectrum-api.iml

/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
